* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(2, 2, 63);
}
.container {
  text-align: center;
  margin-bottom: 4rem;
}
h2 {
  font-weight: bold;
  text-shadow: 1px 1px 1px rgb(151, 151, 151);
  padding: 2.7rem;
  font-size: 3rem;
}
h3 {
  margin-top: 0.5rem;
  font-size: 1.4rem;
}
.answer_div,
.trap_div {
  padding: 10px;
  border: 8px solid rgb(202, 47, 47);
  background-color: rgb(243, 115, 115);
  border-radius: 1rem;
  width: 30rem;
  max-width: 80%;
  margin: 2rem auto 2rem auto;
}
.answer_div {
  background-color: rgb(85, 228, 72);
  border: 8px solid rgb(16, 143, 5);
}
#next_button {
  font-size: 1.3rem;
  padding: 0.6rem 1.5rem;
  border-radius: 0.3rem;
  background-color: rgb(236, 75, 0);
  color: rgb(236, 236, 236);
  font-weight: bold;
  box-shadow: 3px 3px 2px rgb(121, 41, 4);
  outline: none;
}

@media only screen and (min-width: 570px) {
  h2 {
    padding: 3rem;
    font-size: 4rem;
  }
  h3 {
    font-size: 2rem;
  }
  #next_button {
    font-size: 1.7rem;
    padding: 0.8rem 1.7rem;
  }
}
